.side{
    width:400px;
    margin:60px 0 0 50px;
    position: fixed;
    top:0
}

li{
    list-style:none;
}

.top-btn{
    color:#737373;
    text-decoration:none;
    display:block;
    padding:10px 0 10px 50px;
    font-size:25px;
    font-family: "Courier New";
    opacity:0.8;
    letter-spacing: 1px;
}

.top-btn:hover{
    opacity:1;
}

.main{
    margin-left:500px;
    flex-grow: 1;
    width:1000px;
    margin-top:100px;
    color:#737373;
}

.container{
    margin:0 auto;
    text-align: center;
}

h1{
    font-size:50px;
    letter-spacing: 2px;
}

span{
    font-weight:normal;
}

.et{
    display:flex;
    margin-left:50px;
}

.lum{
    display:flex;
    margin-top:100px;
    margin-left:50px;
}

.et-txt{
    margin-right:75px;
    margin-top:50px;
    text-align:left;
}

.lum-txt{
    margin-left:80px;
    text-align:left;
    margin-top:40px;
}

.li-top{
    padding-top:30px;
}

p{
    font-size:20px;
    font-family: "HiraMinProN-W3";
}

li{
    font-size:18px;
}

h2{
    border-bottom:1px solid dimgray;
    padding-bottom:15px;
    margin-bottom:50px;
    letter-spacing: 1px;
}

.app{
    display: inline-block;
    font-size: 25px;
    background-color: darkgray;
    color:white;
    opacity:0.7;
    padding:10px 60px;
    border-radius: 7px;
    margin:100px 0 180px 0;
    text-align:center;
    text-decoration: none;
    letter-spacing: 1px;
}

.app:hover{
    opacity:1;
}

.lesson-image{
    height:480px;
    margin-top:50px;
}

.text{
    padding-top:100px;
    text-align: left;
    margin-left:100px;
}

p{
    line-height: 38px;
    letter-spacing: 1.5px;
}

.li{
    line-height: 40px;
    letter-spacing: 0.3px;
}

h3{
    border-bottom:1px solid dimgray;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 80px;
    font-size: 25px;
}

header{
    display: none;
}

.lesson-image2{
    display: none;
}
.text2{
    display: none;
}

.clear{
    clear: left;
}

.mobile-top{
    display: none;
}
#menu-modal{
    display: none;
    width: 100%;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top:10px;
    z-index: 7;
}

#menu-modal ul{
    border-bottom: 1px solid #737373;
    padding-top:80px;
    padding-bottom: 20px;
}

#close-modal{
    padding-top:40px;
    padding-right: 55px;
    float: right;
}

#modal-icon{
    padding-left:60px;
}

.fa-instagram{
    text-decoration: none;
    padding-left: 15px;
    padding-top:25px;
    opacity: 0.8;
}

.fa-instagram:hover{
    opacity: 1;
}
